{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Datecom</th>
                <td>{{ commande.datecom ? commande.datecom|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Totalcom</th>
                <td>{{ commande.totalcom }}</td>
            </tr>
            <tr>
                <th>Idpaiement</th>
                <td>{{ commande.idpaiement }}</td>
            </tr>
            <tr>
                <th>Datepaiement</th>
                <td>{{ commande.datepaiement ? commande.datepaiement|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Descppaiement</th>
                <td>{{ commande.descppaiement }}</td>
            </tr>
            <tr>
                <th>Modepaiement</th>
                <td>{{ commande.modepaiement }}</td>
            </tr>
            <tr>
                <th>Facturedate</th>
                <td>{{ commande.facturedate ? commande.facturedate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Facturetotalttc</th>
                <td>{{ commande.facturetotalttc }}</td>
            </tr>
            <tr>
                <th>Facturetotaltva</th>
                <td>{{ commande.facturetotaltva }}</td>
            </tr>
            <tr>
                <th>Facturetotalht</th>
                <td>{{ commande.facturetotalht }}</td>
            </tr>
            <tr>
                <th>Adrlivraison</th>
                <td>{{ commande.adrlivraison }}</td>
            </tr>
            <tr>
                <th>Adrfact</th>
                <td>{{ commande.adrfact }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commandecrud_index') }}">back to list</a>

    <a href="{{ path('app_commandecrud_edit', {'id': commande.id}) }}">edit</a>

    {{ include('commandecrud/_delete_form.html.twig') }}
{% endblock %}
