{{ form_start(produitForm) }}
    {{ form_row(produitForm.sousrubriqueart) }}
    {{ form_row(produitForm.liblong) }}
    {{ form_row(produitForm.categorie) }}
    {{ form_row(produitForm.prixachat) }}
    {{ form_row(produitForm.stock) }}
    <button type="submit" class="btn btn-danger"> Valider</button>
{{ form_end(produitForm) }}
