{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}

<div class='container'>


<table class="table";
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Total</th>
                            {# <th>Action</th> #}
                        </tr>
                    </thead>
                    <tbody>
                    




                        {% for element in data %}
                            <tr>
                                <td>{{ element.produit.sousrubriqueart }}</td>
                                <td>{{ element.produit.prixachat }} €</td>
                                <td>{{ element.quantite }}</td>
                                <td>{{ element.quantite * element.produit.prixachat }} €</td>
                                
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Votre panier est vide</td>
                            </tr>    
                        {% endfor %}
                    </tbody>
                    <tfoot>

                       

                       
                         <tr>
                            <td colspan="3">tva</td>
                            
                            <td>{{ Facturetotaltva  }} %</td>
                                
                          </tr>

                           <tr>
                            <td colspan="3">sous Total</td>
                            
                            <td>{{ pttc }} €</td>

                                
                          </tr>
                        <tr>
                            <td colspan="3">frais de port</td>
                            {% if pht<300 %}
                            <td>{{ fdp }} €</td>
                            
                            {% endif %}

                            {% if pht>300 %}
                            <td> 0 €</td>
                            
                            {% endif %}
                              </tr>



                        <tr>                          
                            
                             <td colspan="3">Total</td>
                            
                            <td>{{ total }}
                            
                            </td>
                            
                        </tr>
                    </tfoot>

                </table>
                    <a href="{{ path('app_accueil' ) }}" class="btn btn-danger">modifier</a>

                
                </div>
{% endblock %}
